In [281]:
import pandas as pd
import numpy as np

In [326]:
df=pd.read_csv('Student-mat.csv',sep=';')
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [343]:
df['new']=df['Walc']+df['Dalc']
df['new2']=df['Fedu']+df['Medu']
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()

df[['internet']] = le.fit_transform(df[['internet']])
df[['school']] = le.fit_transform(df[['school']])
df[['schoolsup']] = le.fit_transform(df[['schoolsup']])
df[['famsup']] = le.fit_transform(df[['famsup']])
df[['paid']] = le.fit_transform(df[['paid']])
df['new']=df['Walc']+df['Dalc']
df['new2']=df['Fedu']+df['Medu']
df['support']=df['internet']+df['schoolsup']+df['famsup']+df['paid']
df['avgstudy']=df['studytime']-df['traveltime']-df['goout']-df['freetime']
X=df[['G1','G2','failures','studytime','new','new2']]
Y=df[['G3']]

C:\Users\BEVAN\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:235: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [344]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.1)

In [345]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [346]:
y_pred=regressor.predict(X_test)

In [347]:
y_pred=pd.DataFrame(y_pred)

In [348]:
y_pred=y_pred.astype({0:int})

In [349]:
for x in range(len(y_pred)):
    print(y_pred.iloc[x][0], y_test.iloc[x]['G3'])

8 8
13 12
6 6
14 15
8 9
10 10
7 11
3 6
17 17
8 10
8 8
15 15
9 10
5 9
0 0
6 8
14 14
7 10
6 0
15 16
5 7
3 5
7 8
6 6
9 10
-1 0
10 11
14 15
17 18
19 19
12 12
7 8
9 12
9 9
14 14
8 10
7 9
7 8
2 0
11 13